.field {
  display: block;
  margin: 0 auto 1em;
  width: 100%;
}
input {
  display: block;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 700px;
  margin: 0 auto;
  padding: 0.5em;
  width: 40%;
}
button {
  display: block;
  float: none;
  margin: 3rem auto 0;
  width: 6rem;
}
