<link rel="stylesheet" href="app.component.css">
<div id="header">
  <a href="/">
    <img src="assets/logo.png" alt="logo" />
  </a>
  <p id="nav">
    <a routerLink="/login">Login</a>
  </p>
  <p id="nav">
    <a routerLink="/gallery">Gallery</a>
  </p>
</div>

<div id="main-wrapper">
  <div id="main-wrapper-inner" class="container">
      <router-outlet></router-outlet>
  </div>
</div>

<div id="footer">
  <p>
    Free-to-use photos from <a href="https://www.pexels.com/" target="_blank">pexels.com</a>
  </p>
</div>


